
{%load staticfiles%}


<link rel="stylesheet" href="{%static 'premade/css/bootstrap.min.css'%}"/>

<body class="container">

<nav class = "navbar navbar-inverse" role = "navigation">
   
   <div class = "navbar-header">
      <a class = "navbar-brand" href = "#">BOOK LIBRARY</a>
   </div>
   
   <div>
   
       
   
   </div>
   <div>
      <p class = "navbar-text navbar-right block " style="margin-right:20px">
         <a href = "#" class = "navbar-link navbar-right">By Kumbirai Bodzo</a>
      </p>
   </div>
</nav>
{%block body%}

{%endblock%}

</body>